PORT=4000
MONGO_URI=mongodb://localhost:27017/oauth2_local
JWT_ACCESS_SECRET=change_this_access_secret_for_local
JWT_REFRESH_SECRET=change_this_refresh_secret_for_local
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7
AUTH_CODE_TTL_MINUTES=10
SESSION_COOKIE_NAME=oauth2_demo_session
SESSION_SECRET=change_this_session_secret_for_local

    "sessionToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OWU0MGRiOTFiNjEyOWJiNjY1NzMyODUiLCJlbWFpbCI6ImRlbW9AZXhhbXBsZS5jb20iLCJpYXQiOjE3NzY1NTM0MzUsImV4cCI6MTc3NjYzOTgzNX0.3peWfhJzM4PAkfKm95UBr0c-6ovFK5U5rzKtZEEoopY",


    {
    "redirectTo": "http://localhost:3000/callback?code=NN5ctk-6GXq_sRLc3FFkat5YS8CFaJoKOnN0wcNlZwo&state=abc123",
    "code": "NN5ctk-6GXq_sRLc3FFkat5YS8CFaJoKOnN0wcNlZwo",
    "state": "abc123"
}

{
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OWU0MGRiOTFiNjEyOWJiNjY1NzMyODUiLCJjbGllbnRfaWQiOiJsb2NhbC1jbGllbnQiLCJzY29wZSI6InByb2ZpbGUgZW1haWwiLCJpYXQiOjE3NzY1NTM3ODgsImV4cCI6MTc3NjU1NDY4OH0.f7lW_r67scqxzpciMFWIzSuiMdkY0SvWY-VFCqnfM58",
    "refresh_token": "dM0edpWH7_KK2kXdKlhi95z0XtgvrYojCb0iK18ZQALEWaEClz6a9mraSIqOx8Ga",
    "token_type": "Bearer",
    "expires_in": 900,
    "scope": "profile email"
}